<!DOCTYPE html>
<html>
    <script type="text/javascript" src="ejs_production.js"></script>

    <head>
        <meta charset="utf-8" />
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <title>Meet'n'Geek</title>
    </head>

    <body>

      <div class="header">
        <h1 class="header_h1">Meet'n'Geek - First matchmaking website</h1>
        <button class="button_notif" id="button_notif">Notifications</button>
        <button class="button_message" id="button_message">Messages</button>
      </div>

      <header class="social">
        <h2>Matches</h2>
        <p>Here's your personalised matchmaking</p>

        <div class=s_profiles>
          <form>
            <input type="submit" value="<" />
          </form>

          <div class="friend_proposal" id="proposal_1">
            <p class="f_pseudo" id="pseudo">
              <img class="f_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                alt="Profile Picture" style="float:left;width:60px;height:60px;">
              Pseudo
            </p>
            <p>
              <span class="f_age" id="age">00</span>
              <span class="separator"> - </span>
              <span class="f_location" id="location">Location</span>
            </p>
            <p class="f_common_games" id="pseudo">Common Games</p>
          </div>

          <div class="friend_proposal" id="proposal_2">
            <p class="f_pseudo" id="pseudo">
              <img class="f_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                alt="Profile Picture" style="float:left;width:60px;height:60px;">
              Pseudo
            </p>
            <p>
              <span class="f_age" id="age">00</span>
              <span class="separator"> - </span>
              <span class="f_location" id="location">Location</span>
            </p>
            <p class="f_common_games" id="pseudo">Common Games</p>
          </div>

          <div class="friend_proposal" id="proposal_3">
            <p class="f_pseudo" id="pseudo">
              <img class="f_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                alt="Profile Picture" style="float:left;width:60px;height:60px;">
              Pseudo
            </p>
            <p>
              <span class="f_age" id="age">00</span>
              <span class="separator"> - </span>
              <span class="f_location" id="location">Location</span>
            </p>
            <p class="f_common_games" id="pseudo">Common Games</p>
          </div>

          <div class="friend_proposal" id="proposal_4">
            <p class="f_pseudo" id="pseudo">
              <img class="f_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                alt="Profile Picture" style="float:left;width:60px;height:60px;">
              Pseudo
            </p>
            <p>
              <span class="f_age" id="age">00</span>
              <span class="separator"> - </span>
              <span class="f_location" id="location">Location</span>
            </p>
            <p class="f_common_games" id="pseudo">Common Games</p>
          </div>

          <div class="friend_proposal" id="proposal_5">
            <p class="f_pseudo" id="pseudo">
              <img class="f_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                alt="Profile Picture" style="float:left;width:60px;height:60px;">
              Pseudo
            </p>
            <p>
              <span class="f_age" id="age">00</span>
              <span class="separator"> - </span>
              <span class="f_location" id="location">Location</span>
            </p>
            <p class="f_common_games" id="pseudo">Common Games</p>
          </div>

          <form>
            <input type="submit" value=">" />
          </form>
        </div>

      </header>

      <div class="main">
        <section class="profile">
          <h2>Profile</h2>

          <div class="p_general">
            <h3 class="user_pseudo">
              <img class="user_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                alt="Profile Picture" style="float:left;width:60px;height:60px;">
                User pseudo
            </h3>
            <ul>
              <li>Pseudo</li>
              <li>Profile pic</li>
              <li>Spoken languages</li>
              <li>Localisation</li>
              <li>Steam</li>
              <li>Skype</li>
              <li>Discord</li>
            </ul>
          </div>

          <div class="p_friend_list">
            <h3>Friend list</h3>
            <div class="friend_list" id="friend_1">
              <p class="f_pseudo" id="pseudo">
                <img class="f_list_profile_pic_online" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                  alt="Profile Picture" style="float:left;width:30px;height:30px;">
                Pseudo
              </p>
              <p class="f_current_game" id="pseudo">Current Game</p>
            </div>

            <div class="friend_list" id="friend_2">
              <p class="f_pseudo" id="pseudo">
                <img class="f_list_profile_pic_online" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                  alt="Profile Picture" style="float:left;width:30px;height:30px;">
                Pseudo
              </p>
              <p class="f_current_game" id="pseudo">Current Game</p>
            </div>

            <div class="friend_list" id="friend_3">
              <p class="f_pseudo" id="pseudo">
                <img class="f_list_profile_pic_offline" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                  alt="Profile Picture" style="float:left;width:30px;height:30px;">
                Pseudo
              </p>
              <p class="f_current_game" id="pseudo">Current Game</p>
            </div>

            <div class="button_load_friends" id="button_load_friends">
              <p>Show more friends</p>
            </div>
          </div>

          <div class="p_games">
            <h3>My games</h3>
            <ul>
              <li>Jeu 1</li>
              <li>Jeu 2</li>
            </ul>
          </div>
        </section>

        <section class="games">
          <h2>Games</h2>

          <div class="game_proposal" id="game_proposal_1">
            <h3 class="game_title">XCOM 2</h3>
            <div class="game_card">
              <img class="game_pic" id="game_pic" src="http://cdn.akamai.steamstatic.com/steam/apps/268500/header.jpg?t=1484004426"
                alt="Game illustration">
              <div class="game_card_right">
                <div class="game_details">
                  <ul>
                    <li>Year:</li>
                    <li>Platform:</li>
                  </ul>
                </div>

                <h4>
                  <span>They're playing </span>
                  <span class="game_name">XCOM 2</span>
                  <span>!</span>
                </h4>

                <div class="game_player_list">
                  <div class="game_player" id="player_1">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                  <div class="game_player" id="player_2">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                  <div class="game_player" id="player_3">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                  <div class="game_player" id="player_4">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tags_list">
              <div class="tags" id="tag_1">SF</div>
              <div class="tags" id="tag_2">Turn-based</div>
              <div class="tags" id="tag_3">Alien</div>
            </div>
            <div class="game_links">
              <a href="http://store.steampowered.com/app/268500/" title="Steam link for Game 1">Get on Steam !</a>
              <h4>JOIN CHAT</h4>
            </div>
          </div>

          <div class="game_proposal" id="game_proposal_2">
            <h3 class="game_title">BORDERLANDS 2</h3>
            <div class="game_card">
              <img class="game_pic" id="game_pic" src="http://cdn.akamai.steamstatic.com/steam/apps/49520/header.jpg?t=1484004426"
                alt="Game illustration">
              <div class="game_card_right">
                <div class="game_details">
                  <ul>
                    <li>Year:</li>
                    <li>Platform:</li>
                  </ul>
                </div>

                <h4>
                  <span>They're playing </span>
                  <span class="game_name">BORDERLANDS 2</span>
                  <span>!</span>
                </h4>

                <div class="game_player_list">
                  <div class="game_player" id="player_1">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                  <div class="game_player" id="player_2">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                  <div class="game_player" id="player_3">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                  <div class="game_player" id="player_4">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tags_list">
              <div class="tags" id="tag_1">FPS</div>
              <div class="tags" id="tag_2">Coop</div>
              <div class="tags" id="tag_3">RPG</div>
            </div>
            <div class="game_links">
              <a href="http://store.steampowered.com/app/49520/" title="Steam link for Game 1">Get on Steam !</a>
              <h4>JOIN CHAT</h4>
            </div>
          </div>

          <div class="game_proposal" id="game_proposal_3">
            <h3 class="game_title">PORTAL 2</h3>
            <div class="game_card">
              <img class="game_pic" id="game_pic" src="http://cdn.akamai.steamstatic.com/steam/apps/620/header.jpg?t=1484004426"
                alt="Game illustration">
              <div class="game_card_right">
                <div class="game_details">
                  <ul>
                    <li>Year:</li>
                    <li>Platform:</li>
                  </ul>
                </div>

                <h4>
                  <span>They're playing </span>
                  <span class="game_name">PORAL 2</span>
                  <span>!</span>
                </h4>

                <div class="game_player_list">
                  <div class="game_player" id="player_1">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                  <div class="game_player" id="player_2">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                  <div class="game_player" id="player_3">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                  <div class="game_player" id="player_4">
                    <p class="p_pseudo" id="pseudo">
                      <img class="p_profile_pic" id="profile_pic" src=".images/male_dflt_profile_pic.jpg"
                        alt="Profile Picture" style="float:left;width:30px;height:30px;">
                      Pseudo
                    </p>
                    <p>
                      <span class="p_age" id="age">00</span>
                      <span class="separator"> - </span>
                      <span class="p_location" id="location">Location</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tags_list">
              <div class="tags" id="tag_1">SF</div>
              <div class="tags" id="tag_2">Turn-based</div>
              <div class="tags" id="tag_3">Alien</div>
            </div>
            <div class="game_links">
              <a href="http://store.steampowered.com/app/620/" title="Steam link for Game 1">Get on Steam !</a>
              <h4>JOIN CHAT</h4>
            </div>
          </div>

          <div class="button_more_games" id="button_more_games">
            <p>Show more games</p>
          </div>


        </section>
      </div>



    </body>
</html>
