<!DOCTYPE html>

<html>

<body>
    <form action="/connect" method="post">
        <label for="nom">Mail :</label>
        <input type="text" name="mail" id="mail" />

        <label for="nom">Password :</label>
        <input type="password" name="password" id="password" />

        <button type="submit">Log in</button>

    </form>
</body>

</html>
